h1 {
    text-align: center; 
}
h1 span { 
    background-color: green; 
}
h2 {
    text-align: center; 
}
h2  span { 
    background-color: green; 
}
p {
    text-align: center; 
}
p span { 
    background-color: green; 
}