/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.banner-ad {
  position: fixed;
  display: none;
  top: 50%;
  right: 1.5vw;
  transform: translateY(-50%);
  width: 10vw;       /* 10% of the viewport width */
  min-width: 100px;  /* Won't shrink below 100px */
  max-width: 200px;  /* Won't grow beyond 200px */
  z-index: 1000;
 }

.banner-ad img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  display: block

}


.banner-ad2 {
  position: fixed;
  display: none;
  top: 50%;
  left: 1.5vw;
  transform: translateY(-50%);
  width: 10vw;       /* 10% of the viewport width */
  min-width: 100px;  /* Won't shrink below 100px */
  max-width: 200px;  /* Won't grow beyond 200px */
  z-index: 1000;         
}

.banner-ad2 img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  display: block
}

.imgtext {
  text-align: justify;
  width: 120;
}

.imgtext img {
  display: block
  margin: 0 auto;
}

@media (min-width: 600px){
  .banner-ad {
    display: block;
  }
}

@media (min-width: 600px){
  .banner-ad2 {
    display: block;
  }
}
